@font-face {
    src: url('../font/RobotoSlab-Regular.ttf');
    font-family: "RobotoSlab-Regular";
}

body{
    font-family: "RobotoSlab-Regular";
}

.tab {
    position: absolute;
    width: 300px;
    height: 100px;
}

.tab .tab-header {
    background-color: #1F1B24;
    display: flex;
    padding: 5px;
    border-radius: 10px;
}

.tab .tab-header>div {
    position: relative;
    width: 50%;
    text-align: center;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    font-weight: 700;
    color : white;
    transition: all 300ms ease-in-out;
}

.tab .tab-header>div.active {
    color: #1F1B24;
}

.tab .tab-indicator {
    position: absolute;
    width: calc(50% - 5px);
    height: 40px;
    background-color: #f1f1f1;
    top: 6px;
    left: 7px;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.input-box{
    border: 1.5px solid #808080 !important;
    border-radius: 6px !important;
    padding-left: 10px !important;
    font-weight: 500 !important;
    font-family: 'RobotoSlab-Regular' !important;
    margin-bottom: 0px !important;
}

.input-box-label{
    margin-bottom: 8px;
    margin-top: 15px;
}

.input-box-label > label{
    font-weight: 700;
    font-size : 1rem;
}

.select-wrapper>input{
    border: 1.5px solid #808080 !important;
    border-radius: 5px !important;
    padding-left: 5px !important;
    font-weight: 600 !important;
    font-family: 'RobotoSlab-Regular' !important;
}

/* hide arrows
 Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none !important;
   margin: 0 !important;
 }
 
 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield !important;
 }

 .select-box {
    display: block;
    border: 1.5px solid #cbc6c6 !important;
    border-radius: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-weight: 600 !important;
    font-family: 'RobotoSlab-Regular' !important;
    background-color: #cbc6c6;
    cursor: pointer;
}

.right{
    text-align: right;
}
